<h1 class="mat-h1">Dashboard</h1>
<mat-card>
  <mat-card-header>
    <mat-card-title>
      Task App
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p class="mat-h4">
      This is a small application developed in <strong>Java</strong> using <strong>Spring Boot</strong> for the backend
      and <strong>Angular</strong> for the frontend. The application architecture is designed to run a
      <strong>Terraform</strong>
      file on <strong>Oracle Cloud Infrastructure</strong>, however, it can be deployed on any public cloud.
      The application consists of two virtual machines, one for the deployment of the <strong>Postgres</strong> database
      and the other where the API and the application will be deployed. This web application will run through an
      <strong>nginx</strong> application server.
    </p>
    <img width="50%"
      src="/assets/arquitecture-diagram.svg" alt="Arquitecture Diagram">
  </mat-card-content>
</mat-card>